<script src="/js/index.js"></script>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
        <span class="navbar-brand mb-0 h1 p-1">
            <h2 class="text-light border-0 ml-5">Your Personal Movie Mentor!</h2>
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <button type="button" class="btn btn-info btn-lg p-1 m-2" data-toggle="modal"
                        data-target="#loginModal">Login!</button>
                    <div class="modal fade" id="loginModal" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Please login with your username and password.</h4>
                                </div>
                                <div class="modal-body1">
                                    <form class="login" method="POST" action="/api/login">
                                            <label for="loginUsername">Username</label>
                                            <input name="username" type="username" class="form-control" id="loginUsername" placeholder="Username is required">
                                            <label for="loginPassword">Password</label>
                                            <input name="password" type="password" class="form-control" id="loginPassword" placeholder="Password is required">
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button type="button" class="btn btn-info btn-lg p-1 m-2" data-toggle="modal"
                        data-target="#signUpModal">Register here!</button>
                    <div class="collapse navbar-collapse p-5" id="navbarSupportedContent">
                        <div class="modal fade" id="signUpModal" role="document">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">You are required to provide a username and password.
                                        </h4>
                                    </div>
                                    <div class="modal-body1">
                                        <form class="signup" method="POST" action="/api/signup">
                                            <label for="signUpUsername">Username</label>
                                            <input name="username" type="username" class="form-control" id="signUpUsername" placeholder="Username is required">
                                            <label for="signUpPassword">Password</label>
                                            <input name="password" type="password" class="form-control" id="signUpPassword" placeholder="Password is required">
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="cointainer-fluid p-5">
    <section class="row">
        <section class="col col-sm-8">
            <section class="card pb-3">
                <h2 class="card-title p-2 m-2"><strong>Description</strong></h2>
                <hr />
                <p>
                    This app is designed to display results of movies & tv shows that the user can consider watching.
                    When the user creates an account they’ll pick a couple of genres they’re interested in and their
                    home page will display results accordingly. When the user adds a new movie or tv show to their
                    watchlist their home page will update showing results affected by their watchlist. We will
                    incorporate what other users have watched.
                </p>
            </section>
        </section>
        <section class="col col-sm-4 ">
            <section class="card pb-3">
                <h2 class="card-title p-2 m-2"><strong>User Story</strong></h2>
                <hr />
                <p>
                    "I love to watch TV but I have no idea what movie or tv show to watch- I have a few topics on my
                    mind→ How do I find the movie that fits my mood/interests?"
                </p>
            </section>
        </section>
    </section>

    </section>
    <section class="col-sm">
        <section class="card m-2 p-3">
            <h3 class="card-title p-1"><strong>Misc.</strong></h3>
        </section>
    </section>
    <footer class="page-footer font-small bg-dark fixed-bottom">
        <a href="" class="text-light">Our Links here?</a>
</main>