<body>    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
            <span class="navbar-brand mb-0 h1 p-1">
                <h2 class="text-light border-0 ml-5">Your Personal Movie Mentor!</h2>
            </span>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="watchlistBtn" href="#">Watchlist <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="userNameBtn" href="#">Username</a>
                    </li>

                    <li>
                        <button type="button" class="btn btn-info btn-lg p-1 m-2" data-toggle="modal"
                            data-target="#logoutModal">Logout</button>
                        <div class="modal fade" id="logoutModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" id="userLogout" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Are you sure you want to logout?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <button type="button" class="btn btn-default" id="logout" data-dismiss="modal">Logout</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>


        </nav>



    </header>
    <main class="card-group" id="cardGroup" style="width: 90%; height: auto; margin: 0 auto; float: none; margin-top: 20px;">
        <div class="card border-dark mb-3" id="newCard" style="margin: 20px;">
            <img src="https://via.placeholder.com/150" class="card-img-top" id="cardImage" alt="Placeholder">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>


    </main>
</body>